*.go linguist-language=Go
vendor/* linguist-vendored
_examples/* linguist-documentation
_benchmarks/* linguist-documentation
# Set the default behavior, in case people don't have core.autocrlf set.
# if from windows: 
# git config --global core.autocrlf true
# if from unix:
# git config --global core.autocrlf input
# https://help.github.com/articles/dealing-with-line-endings/#per-repository-settings
* text=auto