.project
.idea
.git
.settings
.vscode/*
.atom-build.json
github/*
iris.test.exe
cpu_test.out
mem_test.out
cover_test.out
block_test.out
heap_test.out
cpu_test.txt
cover_profile_test.txt
build.bat
_examples/*.o
_examples/*.a
_examples/*.so
*.o
*.a
*.so
build.bat
tools/*