<!DOCTYPE html>
<head>
<meta charset="utf-8">
</head>
<body>
	<form action="/form_action" method="post">
		Username: <input type="text" name="Username" /> <br />
		Mail: <input type="text" name="Mail" /> <br /> 
		Select one or more:  <br/> 
		<select multiple="multiple" name="mydata">
			<option value='one'>One</option>
			<option value='two'>Two</option>
			<option value='three'>Three</option>
			<option value='four'>Four</option>
		</select>

		<hr />
		<input type="submit" value="Send data" />

	</form>
</body>
</html>
