<html>
    <head><title>Create verification</title></head>
    <body>
        <h1> Create Verification </h1>
        <table style="width:550px">
        <tr>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>City</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>{{ .Username }}</td>
            <td>{{ .Firstname }}</td>
            <td>{{ .Lastname }}</td>
            <td>{{ .City }}</td>
            <td>{{ .Age }}</td>
        </tr>
        </table> 
    </body>
</html>
