mixin withGo
  | Generating Go html/template output.

doctype html
html(lang="en")
  head
    title= .pageTitle
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1 Jade - template engine
    #container.col
      if .youAreUsingJade
        p {{ greet "iris user" }} <!-- execute template funcs -->
        p You are amazing!
      else
        p Get on it!
      p.
        Jade is #[a(terse)] and simple
        templating language with a
        #[strong focus] on performance
        and powerful features.
      + withGo