@model ErrorViewModel
@{
    ViewData["Title"] = @Model.Title;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>@Model.Code</h3>