<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a color</title>
</head>
<body>
    <form action="/" method="POST">
        <p>Select one or more colors</p>
    
        <label for="red">Red</label>
        <!-- name can be "colors" too -->
        <input type="checkbox" name="colors[]" value="red" id="red">
        <label for="green">Green</label>
        <input type="checkbox" name="colors[]" value="green" id="green">
        <label for="blue">Blue</label>
        <input type="checkbox" name="colors[]" value="blue" id="blue">
        <input type="submit">
    </form>
</body>
</html>