name: Go
on:
  push:
    branches:
    - master
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        version: 1.12
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@master
      path: ${{ go.module-path }}

    - name: Get dependencies
      working-directory: ${{ go.module-path }}
      run: |
        go get -v -t -d ./...
    - name: Build
      working-directory: ${{ go.module-path }}
      run: go build -v .
